Source: lsb-vima.austin.tx.us
Section: devel
Maintainer: Aubrey McIntosh <aubrey.mcintosh@utexas.edu>
Homepage: https://github.com/amcintosh/debdev
Package: debdev
Version: 0.0.007
Priority: optional
Installed-Size: 12000
Architecture: amd64
Depends: awk, git, p7zip
Recommends: 
Description: Understand smudge & clean 32043df4

