Source: lsb-vima.austin.tx.us
Section: devel
Maintainer: Aubrey McIntosh <aubrey.mcintosh@utexas.edu>
Homepage: https://github.com/amcintosh/CPC
Package: cpc
Version: 0.2301.014
Priority: optional
Size: 7168
Installed-Size: 33088
Architecture: amd64
Pre-Depends: wine, p7zip-full
Recommends: awk, git
Description: 05236e14 package the CPC distribution

